<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Obtaining-&amp;-Cleaning-Data-from-CIA-Factbook" data-toc-modified-id="Obtaining-&amp;-Cleaning-Data-from-CIA-Factbook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Obtaining &amp; Cleaning Data from CIA Factbook</a></span><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Imports</a></span><ul class="toc-item"><li><span><a href="#Keeping-the-rows-with-countries" data-toc-modified-id="Keeping-the-rows-with-countries-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Keeping the rows with countries</a></span></li></ul></li><li><span><a href="#Quick-check-for-nulls" data-toc-modified-id="Quick-check-for-nulls-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Quick check for nulls</a></span></li><li><span><a href="#Creating-a-dataframe-with-only-the-columns-that-might-be-relevant-to-the-protest-dataset" data-toc-modified-id="Creating-a-dataframe-with-only-the-columns-that-might-be-relevant-to-the-protest-dataset-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating a dataframe with only the columns that might be relevant to the protest dataset</a></span></li><li><span><a href="#Saving-an-unclean-version-of-the-csv" data-toc-modified-id="Saving-an-unclean-version-of-the-csv-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Saving an unclean version of the csv</a></span></li><li><span><a href="#Starting-to-dig-deeper-into-each-column-in-the-dataframe" data-toc-modified-id="Starting-to-dig-deeper-into-each-column-in-the-dataframe-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Starting to dig deeper into each column in the dataframe</a></span><ul class="toc-item"><li><span><a href="#Language-Column" data-toc-modified-id="Language-Column-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Language Column</a></span></li><li><span><a href="#Transnational-Disputes-Column" data-toc-modified-id="Transnational-Disputes-Column-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Transnational Disputes Column</a></span></li><li><span><a href="#Natural-Resources-Column" data-toc-modified-id="Natural-Resources-Column-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Natural Resources Column</a></span></li><li><span><a href="#Military-Spending-Column" data-toc-modified-id="Military-Spending-Column-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Military Spending Column</a></span></li><li><span><a href="#Filling-in-the-rest-of-the-null-values-with-0-for-future-modeling" data-toc-modified-id="Filling-in-the-rest-of-the-null-values-with-0-for-future-modeling-1.5.5"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span>Filling in the rest of the null values with 0 for future modeling</a></span></li></ul></li><li><span><a href="#Checking-the-data-types" data-toc-modified-id="Checking-the-data-types-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Checking the data types</a></span></li><li><span><a href="#Combining-the-CIA-data-with-the-protest-data" data-toc-modified-id="Combining-the-CIA-data-with-the-protest-data-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Combining the CIA data with the protest data</a></span><ul class="toc-item"><li><span><a href="#Importing-the-global-protest-data" data-toc-modified-id="Importing-the-global-protest-data-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Importing the global protest data</a></span></li><li><span><a href="#Merging-on-the-Protest-Data-with-Country-name-as-the-index" data-toc-modified-id="Merging-on-the-Protest-Data-with-Country-name-as-the-index-1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>Merging on the Protest Data with Country name as the index</a></span></li><li><span><a href="#Exporting-the-newly-merged-dataframe-as-a-csv" data-toc-modified-id="Exporting-the-newly-merged-dataframe-as-a-csv-1.7.3"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>Exporting the newly merged dataframe as a csv</a></span></li></ul></li></ul></li></ul></div>

# Obtaining & Cleaning Data from CIA Factbook

## Imports

In [41]:
import pandas as pd
from pandas.io.json import json_normalize

In [42]:
data= pd.read_json('C:/Users/kendr/Downloads/weekly_json/weekly_json/2020-09-21_factbook.json')

In [43]:
data['countries'].drop('date', inplace=True)

### Keeping the rows with countries

The first row was a global summary and the final couple three rows also did not have information for individual countries. I only kept the relevent information.

In [4]:
data = data['countries'][1:-3]

In [5]:
cia_df = pd.json_normalize(data, errors= 'ignore')

## Quick check for nulls

Several columns have over 200 null values. I will drop those columns.

In [6]:
cia_df.isna().sum()

data.name                                                   0
data.introduction.background                                0
data.geography.location                                     0
data.geography.geographic_coordinates.latitude.degrees      4
data.geography.geographic_coordinates.latitude.minutes      4
                                                         ...
data.government.union_name.abbreviation                   257
data.government.political_structure                       257
data.government.capital.geographic_coordinates            257
data.government.member_states                             257
data.transportation.ports_and_terminals.major_ports       257
Length: 845, dtype: int64

In [7]:
cia_df.drop(columns = ([i for i in cia_df.columns if cia_df[i].isna().sum() > 200]), inplace=True)

In [8]:
cia_df.isna().sum()

data.name                                                   0
data.introduction.background                                0
data.geography.location                                     0
data.geography.geographic_coordinates.latitude.degrees      4
data.geography.geographic_coordinates.latitude.minutes      4
                                                         ...
data.geography.maritime_claims.contiguous_zone.value      171
data.geography.maritime_claims.contiguous_zone.units      171
data.people.hiv_aids.adult_prevalence_rate.global_rank    123
data.people.hiv_aids.deaths.global_rank                   192
data.government.administrative_divisions                  152
Length: 569, dtype: int64

In [9]:
pd.set_option('display.max_columns', None)

cia_df.head()

,data.name,data.introduction.background,data.geography.location,data.geography.geographic_coordinates.latitude.degrees,data.geography.geographic_coordinates.latitude.minutes,data.geography.geographic_coordinates.latitude.hemisphere,data.geography.geographic_coordinates.longitude.degrees,data.geography.geographic_coordinates.longitude.minutes,data.geography.geographic_coordinates.longitude.hemisphere,data.geography.map_references,data.geography.area.total.value,data.geography.area.total.units,data.geography.area.land.value,data.geography.area.land.units,data.geography.area.water.value,data.geography.area.water.units,data.geography.area.global_rank,data.geography.area.comparative,data.geography.land_boundaries.total.value,data.geography.land_boundaries.total.units,data.geography.land_boundaries.border_countries,data.geography.coastline.value,data.geography.coastline.units,data.geography.coastline.note,data.geography.climate,data.geography.terrain,data.geography.elevation.mean_elevation.value,data.geography.elevation.mean_elevation.units,data.geography.elevation.lowest_point.name,data.geography.elevation.lowest_point.elevation.value,data.geography.elevation.lowest_point.elevation.units,data.geography.elevation.highest_point.name,data.geography.elevation.highest_point.elevation.value,data.geography.elevation.highest_point.elevation.units,data.geography.natural_resources.resources,data.geography.land_use.by_sector.agricultural_land_total.value,data.geography.land_use.by_sector.agricultural_land_total.units,data.geography.land_use.by_sector.arable_land.value,data.geography.land_use.by_sector.arable_land.units,data.geography.land_use.by_sector.arable_land.note,data.geography.land_use.by_sector.permanent_crops.value,data.geography.land_use.by_sector.permanent_crops.units,data.geography.land_use.by_sector.permanent_crops.note,data.geography.land_use.by_sector.permanent_pasture.value,data.geography.land_use.by_sector.permanent_pasture.units,data.geography.land_use.by_sector.forest.value,data.geography.land_use.by_sector.forest.units,data.geography.land_use.by_sector.other.value,data.geography.land_use.by_sector.other.units,data.geography.land_use.date,data.geography.irrigated_land.value,data.geography.irrigated_land.units,data.geography.irrigated_land.date,data.geography.population_distribution,data.geography.natural_hazards,data.geography.environment.current_issues,data.geography.environment.international_agreements.party_to,data.geography.environment.international_agreements.signed_but_not_ratified,data.people.population.total,data.people.population.global_rank,data.people.population.date,data.people.nationality.noun,data.people.nationality.adjective,data.people.ethnic_groups.ethnicity,data.people.ethnic_groups.note,data.people.ethnic_groups.date,data.people.languages.language,data.people.languages.note,data.people.languages.date,data.people.religions.religion,data.people.religions.date,data.people.age_structure.0_to_14.percent,data.people.age_structure.0_to_14.males,data.people.age_structure.0_to_14.females,data.people.age_structure.15_to_24.percent,data.people.age_structure.15_to_24.males,data.people.age_structure.15_to_24.females,data.people.age_structure.25_to_54.percent,data.people.age_structure.25_to_54.males,data.people.age_structure.25_to_54.females,data.people.age_structure.55_to_64.percent,data.people.age_structure.55_to_64.males,data.people.age_structure.55_to_64.females,data.people.age_structure.65_and_over.percent,data.people.age_structure.65_and_over.males,data.people.age_structure.65_and_over.females,data.people.age_structure.date,data.people.dependency_ratios.ratios.total_dependency_ratio.value,data.people.dependency_ratios.ratios.total_dependency_ratio.units,data.people.dependency_ratios.ratios.youth_dependency_ratio.value,data.people.dependency_ratios.ratios.youth_dependency_ratio.units,data.people.dependency_ratios.ratios.elderly_dependency_ratio.value,data.people.dependency_ratios.ratios.elderly_dependency_ratio.units,data.people.dependency_ratios.ratios.potential_support_ratio.value,data.people.dependency_ratios.ratios.potential_support_ratio.units,data.people.dependency_ratios.date,data.people.median_age.total.value,data.people.median_age.total.units,data.people.median_age.male.value,data.people.median_age.male.units,data.people.median_age.female.value,data.people.median_age.female.units,data.people.median_age.global_rank,data.people.median_age.date,data.people.population_growth_rate.growth_rate,data.people.population_growth_rate.global_rank,data.people.population_growth_rate.date,data.people.birth_rate.births_per_1000_population,data.people.birth_rate.global_rank,data.people.birth_rate.date,data.people.death_rate.deaths_per_1000_population,data.people.death_rate.global_rank,data.people.death_rate.date,data.people.net_migration_rate.migrants_per_1000_population,data.people.net_migration_rate.global_rank,data.people.net_migration_rate.date,data.people.population_distribution,data.people.urbanization.urban_population.value,data.people.urbanization.urban_population.units,data.people.urbanization.urban_population.date,data.people.urbanization.rate_of_urbanization.value,data.people.urbanization.rate_of_urbanization.units,data.people.major_urban_areas.places,data.people.major_urban_areas.date,data.people.sex_ratio.by_age.at_birth.value,data.people.sex_ratio.by_age.at_birth.units,data.people.sex_ratio.by_age.0_to_14_years.value,data.people.sex_ratio.by_age.0_to_14_years.units,data.people.sex_ratio.by_age.15_to_24_years.value,data.people.sex_ratio.by_age.15_to_24_years.units,data.people.sex_ratio.by_age.25_to_54_years.value,data.people.sex_ratio.by_age.25_to_54_years.units,data.people.sex_ratio.by_age.55_to_64_years.value,data.people.sex_ratio.by_age.55_to_64_years.units,data.people.sex_ratio.by_age.65_years_and_over.value,data.people.sex_ratio.by_age.65_years_and_over.units,data.people.sex_ratio.total_population.value,data.people.sex_ratio.total_population.units,data.people.sex_ratio.date,data.people.mothers_mean_age_at_first_birth.age,data.people.mothers_mean_age_at_first_birth.date,data.people.maternal_mortality_rate.deaths_per_100k_live_births,data.people.maternal_mortality_rate.global_rank,data.people.maternal_mortality_rate.date,data.people.infant_mortality_rate.total.value,data.people.infant_mortality_rate.total.units,data.people.infant_mortality_rate.male.value,data.people.infant_mortality_rate.male.units,data.people.infant_mortality_rate.female.value,data.people.infant_mortality_rate.female.units,data.people.infant_mortality_rate.global_rank,data.people.infant_mortality_rate.date,data.people.life_expectancy_at_birth.total_population.value,data.people.life_expectancy_at_birth.total_population.units,data.people.life_expectancy_at_birth.male.value,data.people.life_expectancy_at_birth.male.units,data.people.life_expectancy_at_birth.female.value,data.people.life_expectancy_at_birth.female.units,data.people.life_expectancy_at_birth.global_rank,data.people.life_expectancy_at_birth.date,data.people.total_fertility_rate.children_born_per_woman,data.people.total_fertility_rate.global_rank,data.people.total_fertility_rate.date,data.people.contraceptive_prevalence_rate.value,data.people.contraceptive_prevalence_rate.units,data.people.contraceptive_prevalence_rate.date,data.people.physicians_density.physicians_per_1000_population,data.people.physicians_density.date,data.people.hospital_bed_density.beds_per_1000_population,data.people.hospital_bed_density.date,data.people.drinking_water_source.improved.urban.value,data.people.drinking_water_source.improved.urban.units,data.people.drinking_water_source.improved.rural.value,data.people.drinking_water_source.improved.rural.units,data.people.drinking_water_source.improved.total.value,data.people.drinking_water_source.improved.total.units,data.people.drinking_water_source.unimproved.urban.value,data.people.drinking_water_source.unimproved.urban.units,data.people.drinking_water_source.unimproved.rural.value,data.people.drinking_water_source.unimproved.rural.units,data.people.drinking_water_source.unimproved.total.value,data.people.drinking_water_source.unimproved.total.units,data.people.drinking_water_source.date,data.people.sanitation_facility_access.improved.urban.value,data.people.sanitation_facility_access.improved.urban.units,data.people.sanitation_facility_access.improved.rural.value,data.people.sanitation_facility_access.improved.rural.units,data.people.sanitation_facility_access.improved.total.value,data.people.sanitation_facility_access.improved.total.units,data.people.sanitation_facility_access.unimproved.urban.value,data.people.sanitation_facility_access.unimproved.urban.units,data.people.sanitation_facility_access.unimproved.rural.value,data.people.sanitation_facility_access.unimproved.rural.units,data.people.sanitation_facility_access.unimproved.total.value,data.people.sanitation_facility_access.unimproved.total.units,data.people.sanitation_facility_access.date,data.people.hiv_aids.adult_prevalence_rate.percent_of_adults,data.people.hiv_aids.adult_prevalence_rate.date,data.people.hiv_aids.people_living_with_hiv_aids.total,data.people.hiv_aids.people_living_with_hiv_aids.global_rank,data.people.hiv_aids.people_living_with_hiv_aids.date,data.people.hiv_aids.deaths.total,data.people.hiv_aids.deaths.date,data.people.major_infectious_diseases.degree_of_risk,data.people.major_infectious_diseases.food_or_waterborne_diseases,data.people.major_infectious_diseases.vectorborne_diseases,data.people.major_infectious_diseases.date,data.people.adult_obesity.percent_of_adults,data.people.adult_obesity.global_rank,data.people.adult_obesity.date,data.people.underweight_children.percent_of_children_under_the_age_of_five,data.people.underweight_children.global_rank,data.people.underweight_children.date,data.people.education_expenditures.percent_of_gdp,data.people.education_expenditures.global_rank,data.people.education_expenditures.date,data.people.literacy.definition,data.people.literacy.total_population.value,data.people.literacy.total_population.units,data.people.literacy.male.value,data.people.literacy.male.units,data.people.literacy.female.value,data.people.literacy.female.units,data.people.literacy.date,data.people.school_life_expectancy.total.value,data.people.school_life_expectancy.total.units,data.people.school_life_expectancy.male.value,data.people.school_life_expectancy.male.units,data.people.school_life_expectancy.female.value,data.people.school_life_expectancy.female.units,data.people.school_life_expectancy.date,data.people.youth_unemployment.total.value,data.people.youth_unemployment.total.units,data.people.youth_unemployment.male.value,data.people.youth_unemployment.male.units,data.people.youth_unemployment.female.value,data.people.youth_unemployment.female.units,data.people.youth_unemployment.global_rank,data.people.youth_unemployment.date,data.government.country_name.conventional_long_form,data.government.country_name.conventional_short_form,data.government.country_name.local_long_form,data.government.country_name.local_short_form,data.government.country_name.former,data.government.country_name.etymology,data.government.government_type,data.government.capital.name,data.government.capital.geographic_coordinates.latitude.degrees,data.government.capital.geographic_coordinates.latitude.minutes,data.government.capital.geographic_coordinates.latitude.hemisphere,data.government.capital.geographic_coordinates.longitude.degrees,data.government.capital.geographic_coordinates.longitude.minutes,data.government.capital.geographic_coordinates.longitude.hemisphere,data.government.capital.time_difference.timezone,data.government.capital.time_difference.note,data.government.capital.daylight_saving_time,data.government.capital.etymology,data.government.independence.date,data.government.independence.note,data.government.national_holidays,data.government.constitution.history,data.government.constitution.amendments,data.government.legal_system,data.government.international_law_organization_participation,data.government.citizenship.citizenship_by_birth,data.government.citizenship.citizenship_by_descent_only,data.government.citizenship.dual_citizenship_recognized,data.government.citizenship.residency_requirement_for_naturalization,data.government.suffrage.age,data.government.suffrage.universal,data.government.suffrage.compulsory,data.government.executive_branch.chief_of_state,data.government.executive_branch.head_of_government,data.government.executive_branch.cabinet,data.government.executive_branch.elections_appointments,data.government.executive_branch.election_results,data.government.legislative_branch.description,data.government.legislative_branch.elections,data.government.legislative_branch.election_results,data.government.judicial_branch.highest_courts,data.government.judicial_branch.judge_selection_and_term_of_office,data.government.judicial_branch.subordinate_courts,data.government.political_parties_and_leaders.note,data.government.international_organization_participation,data.government.diplomatic_representation.in_united_states.chancery,data.government.diplomatic_representation.in_united_states.telephone,data.government.diplomatic_representation.in_united_states.fax,data.government.diplomatic_representation.in_united_states.consulates_general,data.government.diplomatic_representation.from_united_states.chief_of_mission,data.government.diplomatic_representation.from_united_states.telephone,data.government.diplomatic_representation.from_united_states.embassy,data.government.diplomatic_representation.from_united_states.mailing_address,data.government.diplomatic_representation.from_united_states.fax,data.government.flag_description.description,data.government.flag_description.note,data.government.national_symbol.symbols,data.government.national_symbol.colors,data.government.national_anthem.name,data.government.national_anthem.lyrics_music,data.government.national_anthem.note,data.government.national_anthem.audio_url,data.economy.overview,data.economy.gdp.purchasing_power_parity.annual_values,data.economy.gdp.purchasing_power_parity.global_rank,data.economy.gdp.purchasing_power_parity.note,data.economy.gdp.official_exchange_rate.USD,data.economy.gdp.official_exchange_rate.date,data.economy.gdp.real_growth_rate.annual_values,data.economy.gdp.real_growth_rate.global_rank,data.economy.gdp.per_capita_purchasing_power_parity.annual_values,data.economy.gdp.per_capita_purchasing_power_parity.global_rank,data.economy.gdp.per_capita_purchasing_power_parity.note,data.economy.gdp.composition.by_end_use.end_uses.household_consumption.value,data.economy.gdp.composition.by_end_use.end_uses.household_consumption.units,data.economy.gdp.composition.by_end_use.end_uses.government_consumption.value,data.economy.gdp.composition.by_end_use.end_uses.government_consumption.units,data.economy.gdp.composition.by_end_use.end_uses.investment_in_fixed_capital.value,data.economy.gdp.composition.by_end_use.end_uses.investment_in_fixed_capital.units,data.economy.gdp.composition.by_end_use.end_uses.investment_in_inventories.value,data.economy.gdp.composition.by_end_use.end_uses.investment_in_inventories.units,data.economy.gdp.composition.by_end_use.end_uses.exports_of_goods_and_services.value,data.economy.gdp.composition.by_end_use.end_uses.exports_of_goods_and_services.units,data.economy.gdp.composition.by_end_use.end_uses.imports_of_goods_and_services.value,data.economy.gdp.composition.by_end_use.end_uses.imports_of_goods_and_services.units,data.economy.gdp.composition.by_end_use.date,data.economy.gdp.composition.by_sector_of_origin.sectors.agriculture.value,data.economy.gdp.composition.by_sector_of_origin.sectors.agriculture.units,data.economy.gdp.composition.by_sector_of_origin.sectors.industry.value,data.economy.gdp.composition.by_sector_of_origin.sectors.industry.units,data.economy.gdp.composition.by_sector_of_origin.sectors.services.value,data.economy.gdp.composition.by_sector_of_origin.sectors.services.units,data.economy.gdp.composition.by_sector_of_origin.date,data.economy.gross_national_saving.annual_values,data.economy.gross_national_saving.global_rank,data.economy.agriculture_products.products,data.economy.industries.industries,data.economy.industrial_production_growth_rate.annual_percentage_increase,data.economy.industrial_production_growth_rate.global_rank,data.economy.industrial_production_growth_rate.date,data.economy.labor_force.total_size.total_people,data.economy.labor_force.total_size.global_rank,data.economy.labor_force.total_size.date,data.economy.labor_force.by_occupation.occupation.agriculture.value,data.economy.labor_force.by_occupation.occupation.agriculture.units,data.economy.labor_force.by_occupation.occupation.industry.value,data.economy.labor_force.by_occupation.occupation.industry.units,data.economy.labor_force.by_occupation.occupation.services.value,data.economy.labor_force.by_occupation.occupation.services.units,data.economy.labor_force.by_occupation.date,data.economy.unemployment_rate.annual_values,data.economy.unemployment_rate.global_rank,data.economy.population_below_poverty_line.value,data.economy.population_below_poverty_line.units,data.economy.population_below_poverty_line.date,data.economy.household_income_by_percentage_share.lowest_ten_percent.value,data.economy.household_income_by_percentage_share.lowest_ten_percent.units,data.economy.household_income_by_percentage_share.highest_ten_percent.value,data.economy.household_income_by_percentage_share.highest_ten_percent.units,data.economy.household_income_by_percentage_share.date,data.economy.budget.revenues.value,data.economy.budget.revenues.units,data.economy.budget.expenditures.value,data.economy.budget.expenditures.units,data.economy.budget.date,data.economy.taxes_and_other_revenues.percent_of_gdp,data.economy.taxes_and_other_revenues.global_rank,data.economy.taxes_and_other_revenues.date,data.economy.budget_surplus_or_deficit.percent_of_gdp,data.economy.budget_surplus_or_deficit.global_rank,data.economy.budget_surplus_or_deficit.date,data.economy.public_debt.annual_values,data.economy.public_debt.global_rank,data.economy.fiscal_year.start,data.economy.fiscal_year.end,data.economy.inflation_rate.annual_values,data.economy.inflation_rate.global_rank,data.economy.current_account_balance.annual_values,data.economy.current_account_balance.global_rank,data.economy.exports.total_value.annual_values,data.economy.exports.total_value.global_rank,data.economy.exports.commodities.by_commodity,data.economy.exports.partners.by_country,data.economy.exports.partners.date,data.economy.imports.total_value.annual_values,data.economy.imports.total_value.global_rank,data.economy.imports.commodities.by_commodity,data.economy.imports.partners.by_country,data.economy.imports.partners.date,data.economy.reserves_of_foreign_exchange_and_gold.annual_values,data.economy.reserves_of_foreign_exchange_and_gold.global_rank,data.economy.external_debt.annual_values,data.economy.external_debt.global_rank,data.economy.exchange_rates.annual_values,data.economy.exchange_rates.note,data.energy.electricity.access.population_without_electricity.value,data.energy.electricity.access.population_without_electricity.units,data.energy.electricity.access.total_electrification.value,data.energy.electricity.access.total_electrification.units,data.energy.electricity.access.urban_electrification.value,data.energy.electricity.access.urban_electrification.units,data.energy.electricity.access.rural_electrification.value,data.energy.electricity.access.rural_electrification.units,data.energy.electricity.access.date,data.energy.electricity.production.kWh,data.energy.electricity.production.global_rank,data.energy.electricity.production.date,data.energy.electricity.consumption.kWh,data.energy.electricity.consumption.global_rank,data.energy.electricity.consumption.date,data.energy.electricity.exports.kWh,data.energy.electricity.exports.global_rank,data.energy.electricity.expo

In [10]:
cia_df.shape

(258, 569)

## Creating a dataframe with only the columns that might be relevant to the protest dataset

Below I kept Country Name, climate information, population distribution (to see if countires with more urban living have more protests,) migration rate, age structure of the country, government type, legal system, global purchasing power, availibility of electricity, availibility of internet access, amount of cell phone users, security spending & transnational disputes as they might be relevant to citizens protesting against their government.

In [11]:
cia_df = cia_df[['data.name',
    'data.geography.climate',
        'data.geography.natural_resources.resources',
        'data.geography.population_distribution',
        'data.people.net_migration_rate.migrants_per_1000_population',
        'data.people.age_structure.0_to_14.percent', 
        'data.people.age_structure.15_to_24.percent',  
        'data.people.age_structure.25_to_54.percent', 
        'data.people.age_structure.55_to_64.percent', 
        'data.people.age_structure.65_and_over.percent', 
        'data.people.languages.language',
        'data.government.government_type',
        'data.government.legal_system',
        'data.economy.gdp.purchasing_power_parity.global_rank',
        'data.economy.gdp.real_growth_rate.global_rank',
        'data.energy.electricity.access.total_electrification.value',
        'data.energy.electricity.installed_generating_capacity.global_rank',
        'data.communications.internet.users.percent_of_population',
        'data.communications.telephones.mobile_cellular.subscriptions_per_one_hundred_inhabitants',
        'data.military_and_security.expenditures.annual_values',
        'data.transnational_issues.disputes']]

In [12]:
cia_df.rename(columns = {'data.name' : 'country',
    'data.geography.climate' : 'climate',
        'data.geography.natural_resources.resources' : 'natural_resources',
        'data.geography.population_distribution' : 'population_distribution',
        'data.people.net_migration_rate.migrants_per_1000_population' : 'net_migration_per_1000_population',
        'data.people.age_structure.0_to_14.percent' : 'age_0_14_percent', 
        'data.people.age_structure.15_to_24.percent' : 'age_15_24_percent',  
        'data.people.age_structure.25_to_54.percent' : 'age_25_54_percent', 
        'data.people.age_structure.55_to_64.percent' : 'age_55_64_percent', 
        'data.people.age_structure.65_and_over.percent' : 'age_65_over_percent', 
        'data.people.languages.language' : 'language',
        'data.government.government_type' : 'govt_type',
        'data.government.legal_system' : 'legal_system',
        'data.economy.gdp.purchasing_power_parity.global_rank' : 'gdp_purchasing_power_global_rank',
        'data.economy.gdp.real_growth_rate.global_rank' : 'gdp_growth_global_rank',
        'data.energy.electricity.access.total_electrification.value' : 'electricity_access_percent',
        'data.energy.electricity.installed_generating_capacity.global_rank' : 'electricity_generating_capacity_global_rank',
        'data.communications.internet.users.percent_of_population' : 'internet_access_percent',
        'data.communications.telephones.mobile_cellular.subscriptions_per_one_hundred_inhabitants' : 'cell_phone_per_100',
        'data.military_and_security.expenditures.annual_values' : 'military_spending_annual_percent_gdp',
        'data.transnational_issues.disputes' : 'transnational_disputes'}, inplace= True)

## Saving an unclean version of the csv

In [13]:
cia_df.to_csv('../data/cia_df_unclean.csv', index=False)

## Starting to dig deeper into each column in the dataframe

In [14]:
cia_df.dtypes

country                                         object
climate                                         object
natural_resources                               object
population_distribution                         object
net_migration_per_1000_population              float64
age_0_14_percent                               float64
age_15_24_percent                              float64
age_25_54_percent                              float64
age_55_64_percent                              float64
age_65_over_percent                            float64
language                                        object
govt_type                                       object
legal_system                                    object
gdp_purchasing_power_global_rank               float64
gdp_growth_global_rank                         float64
electricity_access_percent                     float64
electricity_generating_capacity_global_rank    float64
internet_access_percent                        float64
cell_phone_per_100                             float64
military_spending_annual_percent_gdp            object
transnational_disputes                          object
dtype: object

In [15]:
cia_df.isna().sum()

country                                          0
climate                                          0
natural_resources                               10
population_distribution                         28
net_migration_per_1000_population               29
age_0_14_percent                                28
age_15_24_percent                               28
age_25_54_percent                               28
age_55_64_percent                               28
age_65_over_percent                             28
language                                        18
govt_type                                       22
legal_system                                    11
gdp_purchasing_power_global_rank                29
gdp_growth_global_rank                          34
electricity_access_percent                      42
electricity_generating_capacity_global_rank     43
internet_access_percent                         28
cell_phone_per_100                              39
military_spending_annual_percent_gdp           100
transnational_disputes                           6
dtype: int64

### Language Column

In [16]:
cia_df['language'].isna().sum()

18

In [17]:
cia_df['language'].fillna('None', inplace=True)

In [18]:
lang_list = []
for el in cia_df['language'][cia_df['language'] != 'None']:
    lang_list.append(el[0]['name'])

In [19]:
cia_df['language'][cia_df['language'] != 'None'] = lang_list

<ipython-input-19-6a2960ff010a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cia_df['language'][cia_df['language'] != 'None'] = lang_list

### Transnational Disputes Column

In [21]:
cia_df['transnational_disputes'].fillna('None', inplace=True)

lang_list = []
for el in cia_df['transnational_disputes'][cia_df['transnational_disputes'] != 'None']:
    lang_list.append(el[0])
    
cia_df['transnational_disputes'][cia_df['transnational_disputes'] != 'None'] = lang_list

<ipython-input-21-0dc0cdc23136>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cia_df['transnational_disputes'][cia_df['transnational_disputes'] != 'None'] = lang_list

### Natural Resources Column

In [22]:
def clean_list(column):
    cia_df[column].fillna('None', inplace=True)

    data_list = []
    for el in cia_df[column][cia_df[column] != 'None']:
        data_list.append(el[0])

    cia_df[column][cia_df[column] != 'None'] = data_list

In [23]:
clean_list('natural_resources')

<ipython-input-22-4adecad87ac4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cia_df[column][cia_df[column] != 'None'] = data_list

### Military Spending Column

In [24]:
def clean_dict(column):
    cia_df[column].fillna('None', inplace=True)

    data_list = []
    for el in cia_df[column][cia_df[column] != 'None']:
        data_list.append(el[0]['value'])

    cia_df[column][cia_df[column] != 'None'] = data_list

In [27]:
clean_dict('military_spending_annual_percent_gdp')

<ipython-input-24-0a7fa9e54afc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cia_df[column][cia_df[column] != 'None'] = data_list

In [28]:
cia_df.head()

,country,climate,natural_resources,population_distribution,net_migration_per_1000_population,age_0_14_percent,age_15_24_percent,age_25_54_percent,age_55_64_percent,age_65_over_percent,language,govt_type,legal_system,gdp_purchasing_power_global_rank,gdp_growth_global_rank,electricity_access_percent,electricity_generating_capacity_global_rank,internet_access_percent,cell_phone_per_100,military_spending_annual_percent_gdp,transnational_disputes
0,Afghanistan,arid to semiarid; cold winters and hot summers,natural gas,populations tend to cluster in the foothills a...,-0.1,40.62,21.26,31.44,4.01,2.68,Afghan Persian or Dari,presidential Islamic republic,"mixed legal system of civil, customary, and Is...",101.0,124.0,84.1,138.0,13.50,63.0,1.2,"Afghan, Coalition, and Pakistan military meet ..."
1,Akrotiri,"temperate; Mediterranean with hot, dry summers...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,"laws applicable to the Cypriot population are,...",NaN,NaN,NaN,NaN,NaN,NaN,None,None
2,Albania,"mild temperate; cool, cloudy, wet winters; hot...",petroleum,"a fairly even distribution, with somewhat high...",-3.3,17.60,15.39,42.04,11.94,13.03,Albanian,parliamentary republic,civil law system except in the northern rural ...,125.0,85.0,100.0,112.0,71.85,89.0,1.3,none
3,Algeria,"arid to semiarid; mild, wet winters with hot, ...",petroleum,the vast majority of the populace is found in ...,-0.9,29.58,13.93,42.91,7.41,6.17,Arabic,presidential republic,mixed legal system of French civil law and Isl...,36.0,174.0,99.4,45.0,59.58,113.0,6,Algeria and many other states reject Moroccan ...
4,American Samoa,"tropical marine, moderated by southeast trade ...",pumice,NaN,-26.1,27.76,18.16,37.49,9.69,6.90,Samoan,republican form of government with separate ex...,mixed legal system of US common law and custom...,209.0,208.0,59.0,195.0,31.30,NaN,None,Tokelau included American Samoa's Swains Islan...

### Filling in the rest of the null values with 0 for future modeling

In [29]:
cia_df.fillna(0, inplace=True)

## Checking the data types

There are still some features that will need to be one hot encoded if they are used in a model. For now I will save the cleaned up version to a csv.

In [30]:
cia_df.dtypes

country                                         object
climate                                         object
natural_resources                               object
population_distribution                         object
net_migration_per_1000_population              float64
age_0_14_percent                               float64
age_15_24_percent                              float64
age_25_54_percent                              float64
age_55_64_percent                              float64
age_65_over_percent                            float64
language                                        object
govt_type                                       object
legal_system                                    object
gdp_purchasing_power_global_rank               float64
gdp_growth_global_rank                         float64
electricity_access_percent                     float64
electricity_generating_capacity_global_rank    float64
internet_access_percent                        float64
cell_phone_per_100                             float64
military_spending_annual_percent_gdp            object
transnational_disputes                          object
dtype: object

In [31]:
cia_df.to_csv('../data/cia_clean.csv', index=False)

## Combining the CIA data with the protest data

### Importing the global protest data

In [33]:
global_df = pd.read_csv('../data/global.csv')

In [34]:
global_df.head()

,country,year,region,protest,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,protesterviolence,location,participants,protesteridentity,sources,notes,final,ignore,crowd dispersal,arrests,accomodation,shootings,beatings,killings,"political behavior, process",labor wage dispute,"price increases, tax policy",removal of politician,police brutality,land farm issue,social restrictions
0,Canada,1990,North America,1,1,15.0,1.0,1990.0,15.0,1.0,1990.0,0.0,national,1000s,unspecified,1. great canadian train journeys into history;...,canada s railway passenger system was finally ...,ignore,1,0,0,0,0,0,0,1,1,0,0,0,0,0
1,Canada,1990,North America,1,2,25.0,6.0,1990.0,25.0,6.0,1990.0,0.0,"Montreal, Quebec",1000,unspecified,1. autonomy s cry revived in quebec the new yo...,protestors were only identified as young peopl...,ignore,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,Canada,1990,North America,1,3,1.0,7.0,1990.0,1.0,7.0,1990.0,0.0,"Montreal, Quebec",500,separatist parti quebecois,1. quebec protest after queen calls for unity ...,"the queen, after calling on canadians to remai...",ignore,1,0,0,0,0,0,0,1,0,0,0,0,0,0
3,Canada,1990,North America,1,4,12.0,7.0,1990.0,6.0,9.0,1990.0,1.0,"Montreal, Quebec",100s,mohawk indians,1. indians gather as siege intensifies; armed ...,canada s federal government has agreed to acqu...,accomodation,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,Canada,1990,North America,1,5,14.0,8.0,1990.0,15.0,8.0,1990.0,1.0,"Montreal, Quebec",950,local residents,1. dozens hurt in mohawk blockade protest the ...,protests were directed against the state due t...,crowd dispersal,0,1,1,1,0,0,0,1,0,0,0,0,0,0

### Merging on the Protest Data with Country name as the index

In [38]:
global_cia = pd.merge(left = global_df, right = cia_df, left_on = 'country', right_on = 'country', how = 'left')

### Exporting the newly merged dataframe as a csv

In [39]:
global_cia.to_csv('../data/global_cia_combined.csv', index = False)